.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    color: #333;
  }
  
  .orders {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .order-card {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .RemoveBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
  }
  .order-card h3 {
    margin: 0;
    color: #007bff;
  }
  
  .order-card ul {
    padding-left: 20px;
  }
  
  .order-card ul li {
    margin-bottom: 5px;
  }
  